[Unit]
Description=Mount Intel RDT/CAT filesystem
After=local-fs.target
Before=docker.service containerd.service

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /sys/fs/resctrl
ExecStart=/bin/sh -c '/bin/mount -t resctrl resctrl /sys/fs/resctrl || true'
ExecStop=/bin/umount -f /sys/fs/resctrl || true
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target 